.accordion-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    max-width: 80%;
    margin-left: auto;
    margin-right: auto;

}

.accordion-list > li.accordion {
    margin: 1rem;
    position: relative;
}

.accordion-list > li.accordion > .title {
    background-color: #69c;
    position: relative;
    cursor: pointer;
    padding: 0.5rem;

    border-radius: 5px;
    transition: border-radius 0.25s;
}
.accordion-list > li.accordion.active > .title {
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: border-radius 0.25s;
}
.accordion-list > li.accordion > .title::before {
    content: '+';
    color: black;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}
.accordion-list > li.accordion.active > .title::before {
    content: '-';
}

.accordion-list > li.accordion > .content {
    background-color: rgb(154, 195, 236);
    position: relative;
    text-align: justify;
    overflow: hidden;

    visibility: hidden;
    max-height: 0;
    padding: 0 0.5rem 0 0.5rem;
    transition: visibility 0.1s, max-height 0.1s, padding 0.1s;
    overflow: hidden;
}

li.accordion.active .content {
    visibility: visible;
    max-height: 200px;
    padding: 0.5rem;
    transition: visibility 0.25s, max-height 0.25s, padding 0.25s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.accordion-list > li.accordion + li.accordion {
    border-top: 1px solid #aaa;
    padding-top: 1rem;
}