/* 
    Style sheet to style accordions 
    Accordions can be clicked on and they expand to display more information to the user
    They are often used in FAQ sections of websites
*/

/* The parent of all accordions that you may want listed */
ul.accordion-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    max-width: 80%;
    margin-left: auto;
    margin-right: auto;

}

/* The accordion list item that contains the divs for the title and content of the accordion */
.accordion-list > li.accordion {
    margin: 1rem;
    position: relative;
}

/* The title div */
.accordion-list > li.accordion > .title {
    background-color: #69c;
    position: relative;
    cursor: pointer;
    padding: 0.5rem;

    border-radius: 5px;
    transition: border-radius 0.25s;

    /* Stop users from highlighting the text when clicking on the title */
    user-select: none;
    -webkit-user-select: none; /* Required to disable selecting on Safari browsers */
}
/* Adds a + symbol on the right side of the accordion to let the user know it can be expanded */
.accordion-list > li.accordion > .title::before {
    content: '+';
    color: black;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}
/* Styling for the title div when the accordion is active */
.accordion-list > li.accordion.active > .title {
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transition: border-radius 0.25s;
}
/* Changes the + symbol to a - symbol to let the user know it can be closed */
.accordion-list > li.accordion.active > .title::before {
    content: '-';
}

/* The content div of the accordion, where the information text goes */
.accordion-list > li.accordion > .content {
    background-color: rgb(154, 195, 236);
    position: relative;
    text-align: justify;
    overflow: hidden;

    visibility: hidden;
    max-height: 0;
    padding: 0 0.5rem 0 0.5rem;
    transition: visibility 0.1s, max-height 0.1s, padding 0.1s;
    overflow: hidden;
}
/* Styling the content div when the accordion is active */
.accordion-list > li.accordion.active > .content {
    visibility: visible;
    max-height: 200px;
    padding: 0.5rem;
    transition: visibility 0.25s, max-height 0.25s, padding 0.25s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Adds a line in between each accordion, only when there are multiple accordion elements next to each other */
.accordion-list > li.accordion + li.accordion {
    border-top: 1px solid #aaa;
    padding-top: 1rem;
}